projects
custom.el
recentf
history
saves/*
elpa/*
eshell/*
eln-cache/*
auto-save-list/*
transient/*
tree-sitter/*
.cache/*
.lsp-*
tramp
2-user/*
*.db
url/*
bookmarks
.org-id-locations
undo-fu-session
